
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
<title>Employee</title>
</head>
<body>
    <div class="header">
        <h1>To-Do List</h1>
    </div>
    <div class="inputs">
        <form action="#" th:action="@{/post}" th:object="${todo}" method="post">
            <label >Task:</label><br>
            <input type="text" field="*{task}" name="task"></input><br>
            <input class="button1" type="submit" value="Submit" ></input>
               
        </form>
    </div>


</body>
</html>